version: '3.8'
services:
  web:
    image: nginx
    ports:
      - "8080:80"
    container_name: my-nginx

  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: 123456
    ports:
      - "5432:5432"
    container_name: my-db

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: my-secret-pw
    ports:
      - "3306:3306"
    container_name: my-mysql
 

